body{
    margin: 0;
    background-color: black;
}
h1{
    margin-top: 0;
}
.mainheader{
    background-color: rgb(220, 77, 77);
    height: 200px;
    box-shadow: 0px 15px 30px 30px rgba(220,77,77);
}
.center {
    text-align: center;
}
.headline {
    @import url(//fonts.googleapis.com/css?family=Roboto);
    font-size: 300%;
    display: flex;
    height: 230px;
    justify-content: center;
    align-items: center;
}

